<form 
action="" 
class="form" 
(submit)="add(taskTitle.value  taskTitle=''">
<div
 class="form-group">
    <input 
    #taskTitle 
    class="form-control"
    placeholder="Enter task Name"
    />
</div>
    <input 
    type="submit" 
    value="submit" 
    class="btn btn-success btn-lg btn-block"
    
    />

</form>

<table
 class="table">

 <tr *ngFor="let task in tasks">

    <td 
    class="text-left">

    <a 
        (click)="edit(task)">

            <span
            *ngIf="task!==editTask">
            {{task.task_name}}
            </span> 

            <input
            *ngIf="task===editTask" 
            [(ngModel)]="task.task_name"
            (blur)="update()"
            (keyup.enter)="update()"
            />

        </a>

    </td>

    <td
    class="text-right">

        <button 
        class="btn btn-danger btn-block-btn-lg"
        (click)="delete(task)"
        >
        Delete
   
        </button>
    
    </td>

</tr>

</table>